@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

  html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  * {
    box-sizing: border-box;
  }

 @layer base { 
  h1,h2,h3,h4, h5 {
    @apply font-playFair tracking-[5px]
  }
 }

 @layer base {
  a, li {
    @apply tracking-[4px] cursor-pointer font-thin
  }
 }

 @layer components {
  .centerSection { 
    @apply max-w-[1100px] mx-auto
  }
 }

 @layer components {
  .img {
    @apply object-fill opacity-75 rounded
  }
 }