@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@layer components {
  html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  * {
    box-sizing: border-box;
  }

  h1,h2,h3,h4, h5 {
    letter-spacing: 5px;
    @apply font-playFair
  }

  a, li {
    letter-spacing: 4px;
    font-weight: 100;
    cursor: pointer;
  }

  .centerSection { 
    max-width: 1100px;
    margin: 0 auto 0 auto
  }

  .img {
    @apply object-fill opacity-75 rounded
  }
}